
.subcontent__events{
  display: flex;
  /* width: 900px; */
  justify-content: center;
  align-items: center;
  margin: 40px;
  box-shadow: 5px 10px 18px #888888;
}
.events__texto{
  margin: 50px;
  padding: -4px;
 

}
.titulo__texto{
   font-family: "Saira Condensed", sans-serif;
   text-transform: uppercase;
   font-weight: 10px;
   margin-left: 10px;
  
}
.subtitulo__texto{
 font-family: "Alfa Slab One", serif;
   color:#3b1900;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 10px;
  margin-left: 10px;
  
}
.parrafo__texto{
  color: gray;
  margin: 11px;
  padding: 5px;
  font-size: 20px;
  
}
.events__image{
  /* width: 100%; */
  

}
.image__burger{
  width: 700px;
  margin: 20px;
 ;
}
.content__circulos{
    height: 10px;
    width: 10px;
    /* border: 2px solid #fff; */
    border-radius: 50% orange;
    position: relative;
    z-index: 4;
}