.info__hamburguer {
  background-image: url("../recursos/Layer.png");
   background-size: cover; /*ajustamos el tamaño de la imagen para que cubra toda el area */background-position: center; 
  color: var(--BLANCO_PURO);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 20px 20px 20px 20px;
}

.content__info {
  /* padding: 20px; */
 
  /* text-align: left; */
  border-radius: 8px;
  /* margin: 10px; */
}

.info__parrafo {
  color: var(--BLANCO_ILUMINADO);
  width: 50vw;
}

.text__info {
  margin-bottom: 70px;
  display: flex;
}

.foto__burger {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imagen__logo {
  width: 500px;
  height: auto;
  filter: invert(100%) brightness(200%);
  /* dale aquie se trasforma la imagen  */
}

.info__parrafo {
  display: flex;
  font-size: 1.5em;
}

.contact__info {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* position: absolute; */
  margin-left: 900px;
  margin-bottom: 10px;
  align-items: center;
  font-size: 2.1rem;
  text-transform: uppercase;
  margin-top: -100px;
  font-family: "Passion One", sans-serif;
  color: var(--BLANCO_ILUMINADO)
}

.social-icons {
  align-items: end;
  gap: 15px;
  font-size: 1.9em;
  align-items: flex-end;
  position: absolute;
  margin-top: 800px;
  margin-right: 40px;
  right: 0;
}

.icono__redes {
  color: var(--BLANCO_ILUMINADO);
}
footer {
  display: flex;
  margin-top: 800px;
  font-size: 1em;
  color: var(--BLANCO_ILUMINADO);
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-left: 40px;
}

