.layout{
    height: 100vh;
    width: 100%;
    background-color: var(--pagina_fondo);
}





.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /*background-color: #fff;*/
}
.header__logo {
  display: flex;
  align-items: center;
}
  
  .header__logo-img {
    /*width: 50px;*/
    width: 35%;
  }
  
  .header__express {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 100px;
    width: 200px;
  }
  
  .header__express-icon {
    width: 30px;
    margin-right: 10px;
  }
  
  .header__info {
    font-size: 1.20rem;
    color: #333;
  }
  
  .header__nav {
    display: flex;
  }
  
  .header__nav-list {
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .header__nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .header__nav-link.active {
    color: #e74c3c;
  }
  





.header__rignt{
  display: flex;
  margin-left: auto;
}
.header__express{
  display: flex;
  margin-left: 1050px;
  align-self: flex-start;
  margin-top: -50px;
  font-family: "Passion One", sans-serif;
  font-size: 10px;
}


.header__express-link{
  margin-left: auto;
}




  /* Estilos de la promoción */
  .promo {
    /*text-align: center;
    padding: 50px 0;*/
  }
  
  .promo__slogan-text {
    font-size: 1rem;
    color: #3b1900;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .promo__title-main {
    margin:10px ;
    color: #3b1900;
    margin: 0;
    font-family: "Passion One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 10rem;
  }
  
  .promo__title-week {
    font-family: "Passion One", sans-serif;
    font-size: 2rem;
    color: #3b1900;
    margin: 0;
    font-size: 5rem;
  }
  

  /*
  .promo__price {
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .promo__price-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .promo__price-subtext {
    font-size: 0.9rem;
  }
  
*/








/*---------------ACA ESTABA HAY DIOS -----------------------------------*/




.promo_publicidad-imgBurguer {
  position: relative;
  display: block;
  box-shadow: 0 -4px 1000px rgb(255, 255, 255);
}

.promo__publicidadBurguer{
  width: 300px;
  margin-top: -200px;
  margin-right: 250px;
  position: absolute; 
  right: 0; 
  top: 50%; 
  transform: translate;
  z-index: 3;
  border-top: 50px;

}



.promo__publicidadBurguer::before{
  top: -20px;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3); /* Sombra en la parte superior */
}

.promo__publicidadCola{
  margin-top: -300px;
  margin-right: 200px;
  position: absolute; 
  right: 0; 
  top: 50%;
  transform: translate;
  width: 125px;
  z-index: 2;
}


.promo__publicidadCola::before{
  top: -20px;
}

.promo__publicidadPapitas{
  margin-top: -230px;
  margin-right: 470px;
  position: absolute; 
  right: 0; 
  top: 50%;
  transform: translate;
  width: 160px;
  z-index: 1;
  transform: rotate(320deg);

}

.promo__publicidadPapitas::before{
  top: -20px;
}