.layout{
    height: 100vh;
    width: 100%;
    background-color: var(--pagina_fondo);
}



/* ---- header  */

.header {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 20px; */
  /* padding: 10; */
}
.header__container{
  margin-bottom: 150px;
  margin-top: 20px;
}

.header__logo {
  /* display: flex;
  align-items: center; */
}
.header__left{
 margin-right: 950px; /*  para lo de expre */
}
   
.header__logo-img {
  width: 35%;
  margin-left: 50px;
}
  /* ------  */
.header__express {
  /* nada  */
}

.header__express{
  display: flex;
  align-self: flex-start;
  margin-top: -30px;
  font-family: "Passion One", sans-serif;
  font-size: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.header__express-icon {
  width: 30px;
  margin-right: 10px;
  color: #ffffff;
}
  
.header__info {
  font-size: 1.50rem;
  color: #333;
}
  

.header__rignt{
  display: flex;
  margin-left: auto;
  margin-bottom: 10px;
}

.header__nav {
  display: flex;
  margin-left: auto;
  list-style: none;
  gap: 20px;
  margin-left: 100px;
}
  
.header__nav-list {
  margin-left: auto;
  display: flex;
  gap: 20px;
  list-style: none;
}
  
.header__nav-link {
  text-decoration: none;
  /* font-family: "Passion One", sans-serif; */
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px;
}
  
.header__nav-link.active {
  color: #000000;
}
  


.header__express-link{
  margin-left: auto;
}




  /* Estilos de la promoción */
  .promo__slogan {
    /*text-align: center;
    padding: 50px 0;*/
    /* border: solid 1px var(--GRIS_SOMBRA); */
    border-radius: ;
    display: inline-block;
  }
  
  .promo__slogan-text {
    font-size: 1.5rem;
    color: #3b1900;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 50px;
    padding: 10px;
    border: solid 1px var(--GRIS_SOMBRA);
    border-image: linear-gradient(135deg, #3b1900 25%, transparent 25%, transparent 50%, #3b1900 50%, #3b1900 75%, transparent 75%, transparent) 1;
    border-radius: 5px;
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Necesario para border-image */
    border-image: 
    repeating-linear-gradient(
      135deg,
      #3b1900,
      #3b1900 10px, /* color hasta 10px */
      transparent 10px,
      transparent 20px /* espacio transparente hasta 20px */
    ) 1; /* Cambia '1' por el número de veces que quieras repetir el patrón */
  }


.promo__title-main {
    font-family: 'Anton', sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 10rem;
    color: #3b1900;
    margin-left: 50px;
    line-height: 1;
    /* width: 100%; */
    /* padding: 0; */
    /* margin: 0; */
}
.promo__title-main{
  text-shadow: 0px 5px 0px #ffffffaa;
}

.promo__title-main{
  transform: translate;
  z-index: 1;

}
  .promo__title-week {
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    color: #3b1900;
    margin-top: 0px;
    /* font-size: 5rem; */
    margin-left: 50px;
    z-index: 1;
  }
  .promo__title-week{
    text-shadow: 0px 5px 0px #ffffffaa;
    z-index: -1;
  }
  


  .circle{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: var(--ROJO);
    border-radius: 50%;
    margin-top: -30px;
    margin-right: 510px;
    position: absolute; 
    right: 0; 
    transform: translate;
    z-index: 5;
    border-top: 50px;
  }
  .promo__price-text {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
  }
  .promo__price-text2{
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
  }
  
  .promo__price-subtext {
    font-size: 0.9rem;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
  }
  

  


/*---------------ACA ESTABA HAY DIOS -----------------------------------*/




.promo_publicidad-imgBurguer {
  position: relative;
  /* display: block; */
  box-shadow: 0 -4px 1000px rgb(255, 255, 255);
}

.promo__publicidadBurguer{
  width: 300px;
  margin-top: -200px;
  margin-right: 250px;
  position: absolute; 
  right: 0; 
  top: 50%; 
  transform: translate;
  z-index: 3;
  border-top: 50px;

}



.promo__publicidadBurguer::before{
  top: -20px;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3); /* Sombra en la parte superior */
}

.promo__publicidadCola{
  margin-top: -300px;
  margin-right: 200px;
  position: absolute; 
  right: 0; 
  top: 50%;
  transform: translate;
  width: 125px;
  z-index: 2;
}


.promo__publicidadCola::before{
  top: -20px;
}

.promo__publicidadPapitas{
  margin-top: -230px;
  margin-right: 470px;
  position: absolute; 
  right: 0; 
  top: 50%;
  transform: translate;
  width: 160px;
  z-index: 1;
  transform: rotate(320deg);

}

.promo__publicidadPapitas::before{
  top: -20px;
}