@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
/* Tipo de Letra para empezar  */


@import url(Css/Variables.css);
@import url(Css/layaout.css);

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





















body{
    background-color: var(--GRIS_CLARO);
}
.content{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    grid-area:
    'layaout'
    'promotion'
    'burguer'
    'events'
    'reservation'
    'info'; */
}